.project-intro {
    display: grid;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 20%;
}

h1 {
    box-sizing: border-box;
    font-size: 45px;
}

h4 {
    text-decoration: none;
    font-weight: 100;
    font-size: 25px;
}

h5 {
    font-size: 20px;
    opacity: 50%;
    font-weight: 100;
}

.project-box {
    border: 1px solid #000;
    max-width: 100%;
    height: 100px;
    text-align: center;
}

.project-heading {
    position: relative;
    left: 10%;
}

.p-limiter {
    width: 50%;
}

.top-wrapper {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.top-img {
    max-width: 100%;
}

.p-textbox {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.gridstart{ 
    display: grid;
    grid-template-columns: repeat(9, 1fr); ;
    grid-template-rows: auto ;
}
.grid-mid-img {
    width: 600px;
    grid-column: 3/7;
    grid-row: 1;
}
.grid-img-wrapper {
    overflow: hidden;
    max-width: 1500px;
}
.quotation{
    grid-column: 2/7;
    grid-row: 2;
}
.quote-wrapper{
    width: 800px;

}
.multi-wrapper {
    overflow: auto;
    grid-column: 1/10;
    grid-row: 3 ;

}
.multi-img{
    max-height: 700px;
    display: flex;
    gap: 10px;
}
.p-img{
    min-width: 600px;
    max-width: 100% ;

    height: auto;    
}